{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style-1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link id='favicon' rel="shortcut icon" href="{% static '/images/MyImage.png' %}" type="image/x-png">
    <title>Experience | Portfolio Amulya Shrivastava</title>
</head>
<body oncontextmenu="return false">
<header>
        <a href="{% url 'index' %}" class="logo">Amulya Shrivastava</a>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'index' %}">About</a></li>
            <li><a href="{% url 'index' %}">Skills</a></li>
            <li><a href="{% url 'index' %}">Education</a></li>
            <li><a href="{% url 'index' %}">Work</a></li>
            <li><a class="active" href="{% url 'index' %}">Experience</a></li>
            <li><a href="{% url 'index' %}">Contact</a></li>
            </ul>
        </nav>
</header>
<section class="experience" id="experience">
  <h2 class="heading"><i class="fas fa-briefcase"></i> Experience</h2>
  <div class="quote">
      <span>Every Experience In Your Life Is Being Orchestrated To Teach You Something You Need To Know To Move Forward.</span>
  </div>
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Self Employed</h2>
        </div>
        <div class="desc">
            <h3>Full Stack Developer</h3>
            <p>SEPT 2024 - Currently</p>
        </div>
      </div>
    </div>
      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>1Stop.ai Intern</h2>
          </div>
          <div class="desc">
              <h3>Cyber Security Solutions | Tool Development</h3>
              <p>OCT 2023 - June 2024</p>
          </div>
        </div>
      </div>
    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Researcher At ITER | SOA</h2>
        </div>
        <div class="desc">
            <h3>Website Developer | Internship</h3>
            <p>SEPT 2024 - Currently</p>
        </div>
      </div>
    </div>
    <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>Java Intern | SOA ITER</h2>
          </div>
          <div class="desc">
              <h3>Contributor | Open Source Program</h3>
              <p>October 2024 - Currently</p>
          </div>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <div class="tag">
            <h2>Python Developer | SOA ITER</h2>
          </div>
          <div class="desc">
              <h3>Contributor | Tool Generation</h3>
              <p>October 2024 - Currently</p>
          </div>
        </div>
      </div>
  </div>
  <div class="morebtn">
    <a href="{% url 'index' %}" class="btn">
        <i class="fas fa-arrow-left"></i>
        <span>Back to Home</span>
  </a>
  </div>
</div>
</section>
<section class="footer">
  <div class="box-container">
      <div class="box">
          <h3>Amulya's Portfolio</h3>
          <p>Thank You For Visiting My Personal Portfolio Website. Connect With Me Over Socials. <br/> <br/> Keep Rising 🚀. Connect With Me Over Live Chat!</p>
      </div>
      <div class="box">
          <h3>quick links</h3>
          <a href="/#home"><i class="fas fa-chevron-circle-right"></i> home</a>
          <a href="/#about"><i class="fas fa-chevron-circle-right"></i> about</a>
          <a href="/#skills"><i class="fas fa-chevron-circle-right"></i> skills</a>
          <a href="/#education"><i class="fas fa-chevron-circle-right"></i> education</a>
          <a href="/#work"><i class="fas fa-chevron-circle-right"></i> work</a>
          <a href="/#experience"><i class="fas fa-chevron-circle-right"></i> experience</a>
      </div>
      <div class="box">
          <h3>contact info</h3>
          <p> <i class="fas fa-phone"></i>+91-8825220463</p>
          <p> <i class="fas fa-envelope"></i>Amulyashrivastava7@gmail.com</p>
          <p> <i class="fas fa-map-marked-alt"></i>Bhubaneswar, Odisha, India-751030</p>
          <div class="share">
            <a href="https://www.linkedin.com/in/amulya-shrivastava-11a0a9288/" class="fab fa-linkedin" target="_blank"></a>
            <a href="https://github.com/Always-Amulya7/" class="fab fa-github" target="_blank"></a>
            <a href="mailto:amulyashrivastava7@gmail.com" class="fas fa-envelope" target="_blank"></a>
            <a href="https://www.facebook.com/amulyadeep.amulyadeep.3/" class="fab fa-facebook" aria-label="Facebook" target="_blank"></a>
            <a href="https://t.me/always_ads7" class="fab fa-telegram-plane" aria-label="Telegram" target="_blank"></a>
          </div>
      </div>
  </div>
  <h1 class="credit">Designed With <i class="fa fa-heart pulse"></i> By <a href="https://www.linkedin.com/in/amulya-shrivastava-11a0a9288/"> Amulya Shrivastava</a></h1>

</section>
<a href="#experience" class="fas fa-angle-up" id="scroll-top"></a>
<script>
  document.addEventListener('visibilitychange',
  function () {
        if (document.visibilityState === "visible") {
            document.title = "Portfolio | Amulya Shrivastava";
            $("#favicon").attr("href", "{% static '/images/MyImage.png' %}");
        }
        else {
            document.title = "Come Back To Portfolio";
            $("#favicon").attr("href", "{% static '/images/MyImage.png' %}");
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="{% static 'js/script-1.js' %}"></script>
</body>
</html>